<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>FontAwesome.ttf</string>
		<string>MaterialIcons.ttf</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Boilerplate</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	
	<!-- Push Notification Permission Description -->
	<key>NSUserNotificationUsageDescription</key>
	<string>This app uses notifications to keep you updated with important information.</string>
	
	<!-- Background modes for push notifications -->
	<key>UIBackgroundModes</key>
	<array>
		<string>background-fetch</string>
		<string>remote-notification</string>
	</array>
	
	<!-- Firebase URL Scheme Configuration -->
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>GoogleService</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<!-- This will be set programmatically or via build settings -->
				<string>com.googleusercontent.apps.715635897715-d7cc56b8a186b100de0106</string>
			</array>
		</dict>
	</array>
	
	<!-- Firebase Configuration Keys (will be populated via environment variables) -->
	<key>FIREBASE_API_KEY</key>
	<string>$(FIREBASE_API_KEY_IOS)</string>
	<key>FIREBASE_APP_ID</key>
	<string>$(FIREBASE_APP_ID_IOS)</string>
	<key>FIREBASE_PROJECT_ID</key>
	<string>$(ANDROID_FIREBASE_PROJECT_ID)</string>
	<key>FIREBASE_PROJECT_NUMBER</key>
	<string>$(ANDROID_FIREBASE_PROJECT_NUMBER)</string>
	<key>FIREBASE_BUNDLE_ID</key>
	<string>$(IOS_FIREBASE_APP_PACKAGE)</string>
	
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
