name: cd

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

concurrency:
  group: cd-preview-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  release_notes_check:
    if: github.event.pull_request.state == 'open' && github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    outputs:
      release_notes: ${{ steps.check.outputs.release_notes }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Check release notes
        id: check
        uses: ./.github/actions/release-check
        with:
          version_file: 'package.json'
          notes_dir: 'docs/release_notes'
          notes_ext: '.md'

  deploy_android:
    if: github.event.pull_request.state == 'open' && github.event.pull_request.draft == false
    needs: [release_notes_check]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout (root for actions)
        uses: actions/checkout@v3

      - name: Checkout (app code)
        uses: actions/checkout@v3
        with:
          path: app

      - name: Deploy android app to Firebase App Distribution
        uses: ./.github/actions/deploy_android_preview
        with:
          ANDROID_GCP_JSON_BASE64: ${{ secrets.ANDROID_GCP_JSON_BASE64 }}
          ANDROID_FIREBASE_PROJECT_NUMBER: ${{ secrets.ANDROID_FIREBASE_PROJECT_NUMBER }}
          ANDROID_FIREBASE_APP_ID: ${{ secrets.ANDROID_FIREBASE_APP_ID }}
          ANDROID_FIREBASE_PROJECT_ID: ${{ secrets.ANDROID_FIREBASE_PROJECT_ID }}
          ANDROID_FIREBASE_APP_PACKAGE: ${{ secrets.ANDROID_FIREBASE_APP_PACKAGE }}
          ANDROID_FIREBASE_API_KEY: ${{ secrets.ANDROID_FIREBASE_API_KEY }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
          PR_TITLE: ${{ github.event.pull_request.title }}
          RELEASE_NOTES: ${{ needs.release_notes_check.outputs.release_notes }}
  # deploy_ios:
  #   if: github.event.pull_request.state == 'open' && github.event.pull_request.draft == false
  #   needs: [build, release_notes_check]
  #   runs-on: macos-14
  #   timeout-minutes: 30
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v3

  #     - name: Deploy iOS Preview to TestFlight
  #       uses: ./.github/actions/deploy_ios_preview
  #       env:
  #         MATCH_PASSWORD: ${{ secrets.IOS_MATCH_PASSWORD }}
  #         IOS_MATCH_REPOSITORY_URL: ${{ secrets.IOS_MATCH_REPOSITORY_URL }}
  #         IOS_APPLE_ID: ${{ secrets.IOS_APPLE_ID }}
  #         IOS_KEYCHAIN_PASSWORD: ${{ secrets.IOS_KEYCHAIN_PASSWORD }}
  #         IOS_APP_STORE_CONNECT_API_KEY_ID: ${{ secrets.IOS_APP_STORE_CONNECT_API_KEY_ID }}
  #         IOS_APP_STORE_CONNECT_API_KEY_ISSUER_ID: ${{ secrets.IOS_APP_STORE_CONNECT_API_KEY_ISSUER_ID }}
  #         IOS_APP_STORE_CONNECT_API_KEY_B64: ${{ secrets.IOS_APP_STORE_CONNECT_API_KEY_B64 }}
  #         IOS_APP_IDENTIFIER: ${{ secrets.IOS_APP_IDENTIFIER }}
  #         IOS_APP_STORE_TEAM_ID: ${{ secrets.IOS_APP_STORE_TEAM_ID }}
  #         IOS_DEV_EMAIL: ${{ secrets.IOS_DEV_EMAIL }}
  #         IOS_MATCH_DEPLOY_KEY: ${{ secrets.IOS_MATCH_DEPLOY_KEY }}
  #         PR_NUMBER: ${{ github.event.pull_request.number }}
  #         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  #         RELEASE_NOTES: ${{ needs.release-notes-check.outputs.release_notes }}
