name: cd

on:
  push:
    branches:
      - main

concurrency:
  group: cd-production
  cancel-in-progress: true

jobs:

  check_version_number:
    if: github.event.pull_request.state == 'open' && github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Compare package.json versions
        run: |
          # Fetch the main branch package.json
          git fetch origin main
          MAIN_VERSION=$(jq -r .version <(git show origin/main:package.json))
          PR_VERSION=$(jq -r .version < package.json)
          echo "Main branch version: $MAIN_VERSION"
          echo "PR branch version: $PR_VERSION"
          # Compare versions
          if [ "$(printf '%s\n%s' "$MAIN_VERSION" "$PR_VERSION" | sort -V | head -n1)" != "$MAIN_VERSION" ] || [ "$MAIN_VERSION" == "$PR_VERSION" ]; then
            echo "Error: PR version ($PR_VERSION) must be strictly greater than main version ($MAIN_VERSION)."
            exit 1
          fi
          
  release_notes_check:
    runs-on: ubuntu-latest
    outputs:
      release_notes: ${{ steps.check.outputs.release_notes }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Check release notes
        id: check
        uses: ./.github/actions/release_notes_check
        with:
          version_file: 'package.json'
          notes_dir: 'docs/release_notes'
          notes_ext: '.md'

  deploy_android:
    runs-on: ubuntu-latest
    needs: [release_notes_check]
    steps:
      - name: Checkout (app)
        uses: actions/checkout@v3

      - name: Deploy Android app to Play Store
        id: deploy_android_production
        uses: ./.github/actions/deploy_android_production
        with:
          GPLAY_SERVICE_ACCOUNT_KEY_JSON: ${{ secrets.GPLAY_SERVICE_ACCOUNT_KEY_JSON }}
          KEYSTORE_FILE: ${{ secrets.KEYSTORE_FILE }}
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
          RELEASE_NOTES: ${{ needs.release_notes_check.outputs.release_notes }}

  # deploy-ios:
  #   runs-on: macos-14
  #   needs: [release_notes_check]
  #   timeout-minutes: 30
  #   steps:
  #     - name: Checkout (app)
  #       uses: actions/checkout@v3

  #     - name: Deploy iOS app to App Store
  #       uses: ./.github/actions/deploy_ios_production
  #       with:
  #         MATCH_PASSWORD: ${{ secrets.IOS_MATCH_PASSWORD }}
  #         IOS_MATCH_REPOSITORY_URL: ${{ secrets.IOS_MATCH_REPOSITORY_URL }}
  #         IOS_APPLE_ID: ${{ secrets.IOS_APPLE_ID }}
  #         IOS_KEYCHAIN_PASSWORD: ${{ secrets.IOS_KEYCHAIN_PASSWORD }}
  #         IOS_APP_STORE_CONNECT_API_KEY_ID: ${{ secrets.IOS_APP_STORE_CONNECT_API_KEY_ID }}
  #         IOS_APP_STORE_CONNECT_API_KEY_ISSUER_ID: ${{ secrets.IOS_APP_STORE_CONNECT_API_KEY_ISSUER_ID }}
  #         IOS_APP_STORE_CONNECT_API_KEY_B64: ${{ secrets.IOS_APP_STORE_CONNECT_API_KEY_B64 }}
  #         IOS_APP_IDENTIFIER: ${{ secrets.IOS_APP_IDENTIFIER }}
  #         IOS_APP_STORE_TEAM_ID: ${{ secrets.IOS_APP_STORE_TEAM_ID }}
  #         IOS_DEV_EMAIL: ${{ secrets.IOS_DEV_EMAIL }}
  #         IOS_MATCH_DEPLOY_KEY: ${{ secrets.IOS_MATCH_DEPLOY_KEY }}
  #         RELEASE_NOTES: ${{ needs.release_notes_check.outputs.release_notes }}