name: cd_production

on:
  push:
    branches:
      - main

concurrency:
  group: cd-production
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    if: false
    outputs:
      image_ref: ${{ steps.build.outputs.image_ref }}
      branch_hash: ${{ steps.extract_branch.outputs.branch_hash }}

    steps:
      - name: Checkout (app)
        uses: actions/checkout@v3
        # make sure to keep checked in code at different directory to avoid colliding with docker caching
        with:
          path: app

      - name: Extract branch name
        id: extract_branch
        shell: bash
        run: |
          BRANCH_NAME="${{ github.ref_name }}"
          BRANCH_HASH=$(sha1sum < <(printf '%s' "$BRANCH_NAME") | cut -c -15)
          echo "branch_hash=$BRANCH_HASH" >> $GITHUB_OUTPUT

      - name: Inject Doppler secrets
        uses: ./app/.github/actions/inject_doppler_secrets
        with:
          doppler_token: ${{ secrets.DOPPLER_PRODUCTION_TOKEN }}
          working_directory: app

      - name: Build application
        id: build
        uses: ./app/.github/actions/build
        with:
          docker_registry: ${{ vars.DOCKER_REGISTRY }}
          docker_username: ${{ vars.DOCKER_USERNAME }}
          docker_password: ${{ secrets.DOCKER_PASSWORD }}
          tags: ${{ vars.DOCKER_REGISTRY }}/${{ vars.DOCKER_USERNAME }}/boilerplate-react-native:${{ steps.extract_branch.outputs.branch_hash }}
          build_args: NODE_CONFIG_ENV=production
          build_secrets: ''
          context: app/

  deploy-android:
    runs-on: ubuntu-latest
    needs: build
    if: false
    steps:
      - name: Checkout (app)
        uses: actions/checkout@v3

      - name: Deploy Android app to Play Store
        id: deploy_android_production
        uses: ./.github/actions/deploy_android_production
        with:
          GPLAY_SERVICE_ACCOUNT_KEY_JSON: ${{ secrets.GPLAY_SERVICE_ACCOUNT_KEY_JSON }}
          ANDROID_KEYSTORE_FILE: ${{ secrets.ANDROID_KEYSTORE_FILE }}
          ANDROID_KEYSTORE_PASSWORD: ${{ secrets.ANDROID_KEYSTORE_PASSWORD }}
          ANDROID_KEY_ALIAS: ${{ secrets.ANDROID_KEY_ALIAS }}
          ANDROID_KEY_PASSWORD: ${{ secrets.ANDROID_KEY_PASSWORD }}

  deploy-ios:
    runs-on: macos-14
    needs: build
    if: false
    timeout-minutes: 30
    steps:
      - name: Checkout (app)
        uses: actions/checkout@v3

      - name: Deploy iOS app to App Store
        uses: ./.github/actions/deploy_ios_production
        with:
          MATCH_PASSWORD: ${{ secrets.IOS_MATCH_PASSWORD }}
          IOS_MATCH_REPOSITORY_URL: ${{ secrets.IOS_MATCH_REPOSITORY_URL }}
          IOS_APPLE_ID: ${{ secrets.IOS_APPLE_ID }}
          IOS_KEYCHAIN_PASSWORD: ${{ secrets.IOS_KEYCHAIN_PASSWORD }}
          IOS_APP_STORE_CONNECT_API_KEY_ID: ${{ secrets.IOS_APP_STORE_CONNECT_API_KEY_ID }}
          IOS_APP_STORE_CONNECT_API_KEY_ISSUER_ID: ${{ secrets.IOS_APP_STORE_CONNECT_API_KEY_ISSUER_ID }}
          IOS_APP_STORE_CONNECT_API_KEY_B64: ${{ secrets.IOS_APP_STORE_CONNECT_API_KEY_B64 }}
          IOS_APP_IDENTIFIER: ${{ secrets.IOS_APP_IDENTIFIER }}
          IOS_APP_STORE_TEAM_ID: ${{ secrets.IOS_APP_STORE_TEAM_ID }}
          IOS_DEV_EMAIL: ${{ secrets.IOS_DEV_EMAIL }}
          IOS_MATCH_DEPLOY_KEY: ${{ secrets.IOS_MATCH_DEPLOY_KEY }}
